body {
  background: #1b1b1b;
  margin: 0;
  padding: 0;
}

#chat {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 300px;
  height: 620px;
  font-family: arial;
  font-size: 16px;
}

#chat > * {
  box-sizing: border-box;
}

/* Header */

#chat > .header {
  position: relative;
  background: #2e2c2e;
  height: 40px;
  width: 300px;
  border-top-left-radius: 20px;
  border-bottom: 4px solid #c3e72f;
}

#chat > .header > a > img {
  max-height: 60px;
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 10;
  border: none;
}

#chat > .header > .close-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 40px;
  color: #fff;
  cursor: pointer;
}

#chat > .header > .close-button > img {
  height: 14px;
}

/* Content */

#chat > #content {
  position: relative;
  background: #fff;
  height: 560px;
  padding: 30px;
}

#chat > #content > h1 {
  font-size: 1em;
  font-weight: bold;
  margin: 0 0 10px 0;
}

#chat > #content > label {
  display: block;
  font-size: .8em;
}

#chat > #content > input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-size: .8em;
  margin: 5px 0 25px 0;
  padding: 6px 8px 6px 50px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

#chat > #content > select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-size: .8em;
  margin: 5px 0 25px 0;
  padding: 6px 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
}

#chat > #content > textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-size: .8em;
  margin: 5px 0 25px 0;
  padding: 6px 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
  height: 60px;
}

#chat > #content > input:focus, #chat > #content > select:focus, #chat > #content > textarea:focus {
  background-color: #ecfada;
  outline: none;
}

#full-name {
  background-image: url("../img/icon-form-avatar.png");
  background-repeat: no-repeat;
  background-position: 20px center;
}

#phone-number {
  background-image: url("../img/icon-form-phone.png");
  background-repeat: no-repeat;
  background-position: 20px center;
}

#chat > #content > .submit-button {
  text-align: right;
}

#chat > #content > .submit-button > button {
  background: url("../img/btn-send-idle.png");
  border-radius: 3px;
  border: none;
  height: 30px;
  width: 115px;
  color: #fff;
  margin: 0 0 4px 0;
  text-shadow: 1px 1px 1px #999;
  font-size: .8em;
  cursor: pointer;
}

#chat > #content > .required-text {
  color: #aaa;
  font-size: .7em;
  text-align: right;
}

#chat > #content > .required-text > .red {
  color: red;
}

/* Warning label helpers */

.warn {
  background-color: #facdce !important;
  border: 1px solid #ec1212 !important;
}

.error-text {
  display: none;
  position: absolute;
  right: 30px;
  color: #EAAEB0;
  font-size: .7em;
  text-align: right;
}

#valid-full-name {
  top: 170px;
}

#valid-phone-number {
  top: 245px;
}

#valid-state {
  top: 320px;
}

#valid-purchased-in {
  top: 390px;
}

#valid-description {
  top: 425px;
}

.error-image {
  display: none;
  position: absolute;
  right: 40px;
  width: 12px;
}

#error-full-name {
  top: 145px;
}

#error-phone-number {
  top: 219px;
}

#error-state {
  top: 293px;
}

#error-purchased-in {
  top: 365px;
}

#error-description {
  top: 365px;
}

/* Footer */

#chat > .footer {
  background: #ccc;
  height: 20px;
  line-height: 20px;
  padding: 2px 0 2px 10px;
}

#chat > .footer > a > img {
  max-height: 14px;
}
